*{
    width: 1440px;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 104px;
    background-color: blue;
    margin: 0 auto;

}
main{
    width: 100%px;
    padding: 90px 0px;
    margin: 0 auto;
    background-color: rgb(160, 163, 167);
    display: flex;
    justify-content: space-around;
}
.list{
    width: 500px;
    height: 1500px;
    background-color: #fff;
    border-radius: 30px;
}
nav ul {
    text-decoration: none;
    list-style: none;
}

.products{
    width: 710px;
    background-color: #fff;
    height: 4070px;
    border-radius: 30px;
}
.h1{
    margin: 20px;
}
.listbook{
    width: 100%;
    height: 417px;
    border-bottom:0.2px solid rgb(181, 181, 181) ;
    border-top:0.2px solid rgb(181, 181, 181) ;
}
h2{
    margin: 20px;
    font-size: 25px;
}
.price{
    width: 100%;
    height: 285px;
    border-bottom: 0.2px solid rgb(181, 181, 181) ;
}
.Author{
    width: 100%;
    height: 320px;
    border-bottom: 0.2px solid rgb(181, 181, 181) ;
}
.Language{
    width: 100%;
    height: 180px;
    border-bottom: 0.2px solid rgb(181, 181, 181) ;
}
.type{
    width: 100%;
    height: 150px;
    border-bottom: 0.2px solid rgb(181, 181, 181) ;
}
.dea{
    width: 100%;
    height: 112px;
    border-bottom: 0.2px solid rgb(181, 181, 181) ;
    display: flex;
    align-items: center;
}
.box{
    width: 160px;
    height: 44px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    width: 160px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SP{
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SP1{
    width: 150px;
    height: 250px;
    background-color: #8f8d8d;

}
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 20px;
}

.footer-section {
    text-align: center;
    width: 30%;
}

.footer-section h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.payment-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.payment-icons img {
    width: 40px;
    height: 40px;
}

